[submodule "dev/themes/archie"]
	path = dev/themes/archie
	url = https://github.com/athul/archie.git
[submodule "dev/themes/cactus"]
	path = dev/themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
